html, body, #map_canvas {
	height: 100%;
	width: 100%;
	margin: 0px;
}

#map_canvas {
	position: relative;
}

.angular-google-map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.marker-labels {
	color: white;
	background-color: black;
	opacity: 0.5;
}

.instagram {
    position: fixed;
    top: 19px;
    left: 80px;
    width: 50px;
    height: 50px;
}


.instagram img {
	width: 50px;
	height: 50px;
}

blockquote {
	background: #f9f9f9;
	margin: 0;
	padding: 10px;
}

blockquote p {
	display: inline;
}