<!doctype html>
<html ng-app="checkIn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JayDude CT Map</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="favicon.ico" />
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="js/lodash.min.js"></script>
	<script src="js/angular-google-maps.min.js"></script>

	<script src="js/controllers/main.js"></script>
	<script src="js/services/checkins.js"></script>
	<script src="js/services/traildata.js"></script>
	<script src="js/services/instagram.js"></script>
	<script src="js/core.js"></script>
</head>
<body ng-controller="mainController">
	<div ng-if="map.isReady">
		<ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">

			<ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" static="true"></ui-gmap-polyline>

			<ui-gmap-markers models="checkinMarkers" idkey="checkinMarkers.id" coords="'self'" icon="'icon'" modelsbyref="true" events="map.markersEvents">
				<ui-gmap-windows show="'showWindow'" ng-cloak>
					<blockquote><p class="checkin-note" ng-non-bindable>{{ note }}</p></blockquote>
				</ui-gmap-windows>	
			</ui-gmap-markers>

		</ui-gmap-google-map>
	</div>
	<div class="instagram"><a target="_blank" href="https://instagram.com/moyesjay/"><img src="img/Instagram_Icon_Large.png"/></a><div>
</body>
</html>